@using TCC.Controllers
@model string

@{
    var transactionType = "Expense";
    bool isIncome = false;

    if (Model.ToLower().Contains("income"))
    {
        transactionType = "Income";
        isIncome = true;
    }
}

<div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
        <div class="modal-header">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span class="icon icon-close icon-2x"></span>
                <span class="btn-close-label hidden-sm-down">esc</span>
            </button>
            <h4 class="modal-title " id="@(transactionType)ModalLabel">New @transactionType</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="input-group">
                    <span class="input-group-addon bg-dark " id="basic-addon1">$</span>
                    <input type="text" class="form-control bg-dark " placeholder="R$ 0.00">
                </div>
                <br>
                <div class="form-check">
                    <input id="checkbox1" class="form-check-input" type="checkbox" checked>
                    <label class="form-check-label" for="checkbox1">
                        @{
                            if (isIncome)
                            {
                                @:Received
                            }
                            else
                            {
                                @:Paid
                            }
                         }
                    </label>
                </div>
                <div class="form-group row">
                    <label for="example-date-input" class="col-xs-2 col-form-label ">Date:</label>
                    <div class="col-xs-10">
                        <input class="form-control bg-dark " type="date" id="example-date-input">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon bg-dark " id="basic-addon1"><span class="icon icon-file-new"></span></span>
                    <span class="input-group-addon bg-dark " id="basic-addon1"></span>
                    <input type="text" class="form-control bg-dark " placeholder="Description">
                </div>
                <br>
                <div class="form-group">
                    <label class="">Category</label>
                    <select class="form-control bg-dark  categorySelect">
                        <option>All categories</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="">Account</label>
                    <select class="form-control bg-dark  accountSelect">
                        <option>All accounts</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </div>
</div>

<script type="text/jscript">
    $(document).ready(function () {
        var url = "/Categories/Get@(transactionType)Categories";
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $.each(data, function (i, item) {
                    $(".categorySelect").append("<option>" + item.description + "</option>");
                });
            }
        });
    });

    $(document).ready(function () {
        var url = "/Accounts/GetAccounts";
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $.each(data, function (i, item) {
                    $(".accountSelect").append("<option>" + item.name + "</option>");
                });
            }
        });
    });
</script>
