@using TCC.Controllers
@model string

@{
    var transactionType = "Expense";
    bool isIncome = false;

    if (Model.ToLower().Contains("income"))
    {
        transactionType = "Income";
        isIncome = true;
    }
}

<div class="modal-dialog" role="document">
    <div class="modal-content bg-dark text-white">
        <div class="modal-header">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span class="icon icon-close icon-2x"></span>
                <span class="btn-close-label hidden-sm-down">esc</span>
            </button>
            <h4 class="modal-title text-white" id="incomeModalLabel">Transactions filter</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label class="text-white">Category</label>
                    <select class="form-control bg-dark text-white categorySelect">
                        <option>All categories</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-white">Account</label>
                    <select class="form-control bg-dark text-white accountSelect">
                        <option>All accounts</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-white">Situation</label>
                    <select class="form-control bg-dark text-white">
                        <option>All situations</option>
                        @{
                            if (isIncome)
                            {
                                <option>Recived</option>
                                <option>Not received</option>
                            }
                            else
                            {
                                <option>Paid</option>
                                <option>Not paid</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label for="example-date-input" class="col-xs-2 col-form-label text-white">From:</label>
                    <div class="col-xs-10">
                        <input class="form-control text-white datetime" style="background-color: #2C2C2E;" type="date" value=" " id="example-date-input">
                    </div>
                    <label for="example-date-input2" style="margin-top: 10px;" class="col-xs-2 col-form-label text-white">Until:</label>
                    <div class="col-xs-10">
                        <input class="form-control text-white datetime" style="margin-top: 10px; background-color: #2C2C2E;" type="date" value=" " id="example-date-input2">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success">Apply</button>
        </div>
    </div>
</div>
