<div class="collapse" id="change-month-list">
    <ul class="list-inline">
        <button class="btn btn-outline-success" type="button">Jan</button>
        <button class="btn btn-outline-success" type="button">Feb</button>
        <button class="btn btn-outline-success" type="button">Mar</button>
        <button class="btn btn-outline-success" type="button">Apr</button>
        <button class="btn btn-outline-success" type="button">May</button>
        <button class="btn btn-outline-success" type="button">Jun</button>
        <button class="btn btn-outline-success" type="button">Jul</button>
        <button class="btn btn-outline-success" type="button">Aug</button>
        <button class="btn btn-outline-success" type="button">Sep</button>
        <button class="btn btn-outline-success" type="button">Oct</button>
        <button class="btn btn-outline-success" type="button">Nov</button>
        <button class="btn btn-outline-success" type="button">Dec</button>
    </ul>
</div>