@model string

@{
    
}

<style>
    .month-button
    {
        min-width: 65px
    }
</style>

<button class="btn btn-outline" id="btn-change-month" type="button" data-toggle="collapse" data-target="#change-month-list" aria-expanded="false" aria-controls="collapseExample">
    @DateTime.Now.ToString("MMM")
</button>
<br>

<div class="collapse monthButtons" id="change-month-list">
    <ul class="list-inline">
        <button class="btn btn-outline month-button" type="button">Jan</button>
        <button class="btn btn-outline month-button" type="button">Feb</button>
        <button class="btn btn-outline month-button" type="button">Mar</button>
        <button class="btn btn-outline month-button" type="button">Apr</button>
        <button class="btn btn-outline month-button" type="button">May</button>
        <button class="btn btn-outline month-button" type="button">Jun</button>
        <button class="btn btn-outline month-button" type="button">Jul</button>
        <button class="btn btn-outline month-button" type="button">Aug</button>
        <button class="btn btn-outline month-button" type="button">Sep</button>
        <button class="btn btn-outline month-button" type="button">Oct</button>
        <button class="btn btn-outline month-button" type="button">Nov</button>
        <button class="btn btn-outline month-button" type="button">Dec</button>
    </ul>
</div>