<nav class="nav nav-pills nav-stacked">
    <div class="optionsList">
        <button type="button" class="btn btn-primary btn-lg" id="newBtn">Teste</button>
        <a class="nav-link navItem" href="/Home">Dashboard</a>
        <a class="nav-link navItem" href="/Transactions">Transactions</a>
        <a class="nav-link navItem" href="/Accounts">Accounts</a>
        @*<a class="nav-link navItem" href="#">Reports</a>*@
        <a class="nav-link navItem" href="/Goals">Goals</a>
    </div>
</nav>