<nav>
    <div id="divnav1">
        <div>
            <div>
                <ul>
                    <li class="list-group-item">Dashboard</li>
                    <li class="list-group-item">Transactions</li>
                    <li class="list-group-item">Accounts</li>
                    <li class="list-group-item">Reports</li>
                    <li class="list-group-item">Goals</li>
                </ul>

            </div>
        </div>
    </div>
</nav>