body
{
    margin: 0;
    padding: 0;
}
nav
{
    flex-shrink: 0;
    /* white-space: nowrap; */
    width: 260px;
    flex: 0 0 auto;
}
#divnav1
{
    width: 260px;
    /*background-color: rgb(44, 44, 46);*/
    ;

    border-right: 1px solid rgba(255,255,255,0.07);

    left: 0;
    right: auto;
    top: 0;

    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    /* z-index: 1200; */
    position: fixed;
    /* overflow-y: auto; */
    flex-direction: column;
    /* -webkit-overflow-scrolling: touch; */

    box-shadow: none;

    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #2C2C2E;
}
main
{
    width: 100%;
    min-height: 100vh;
    /*background-color: rgb(28, 28, 30);*/
    ;
    overflow: hidden;
    position: relative;
    display: block;
}
#main-content
{
    padding: 20px 16px 24px;
    margin: 0px auto;
    max-width: 1440px;
    display: block;
    /*background-color: rgb(28, 28, 30);*/
}
#btn-change-month-div
{
    text-align: center;
}
#change-month-list
{
    text-align: center;
}
#dropdow-change-transactions
{
    /*background-color: #1C1C1E;*/
    /* color: red; */
}
#btn-filter, #btn-search, #current-balance
{
    /*background-color: #1C1C1E;*/
    ;
}
/* #btn-search
{
    background-color: #1C1C1E;
} */
.light-dark
{
    /*background-color: #2C2C2E;*/
}
.strong-dark
{
    /*background-color: #1C1C1E;*/
}