@model List<TCC.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

@foreach (var transaction in Model)
{
    <p>@transaction.Description</p>
    <p>@transaction.Value</p>
    <p>@transaction.Category</p>
    <p>@transaction.CreationDate</p>
    <p>------------------------------------</p>
}

