@using TCC.Views.Shared.Components

@model List<TCC.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "_ListTransactionsLayout";
}

<div id="dashboard">
    <div id="divButtonsGroup">
        <div class="btn-group">
            <button class="btn btn-fab btn-outline-secondary btn-lg dropdown-toggle " id="dropdow-change-transactions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Incomes">Incomes</a>
                <a class="dropdown-item" href="/Expenses">Expenses</a>
            </div>
        </div>
        <div>
            <span class="transactionsValueInfo tag tag-simple border-danger text-danger" id="expensesValue"><a>R$ 2,775.00</a></span>
            <span class="transactionsValueInfo tag tag-simple border-success text-success" id="incomesValue"><a>R$ 2,775.00</a></span>
        </div>
        <button class="btn btn-fab btn-outline-secondary btn-lg" data-toggle="modal" data-target="#filterTransactionsModal" id="btn-filter" type="button" onclick="filter()">
            <span class="icon icon-content-filter"></span>
        </button>
    </div>

    <!-- New transaction modal -->
    <div class="modal fade" id="addTransactionModal" aria-labelledby="addModalLabel" aria-hidden="true">
    </div>

    <!-- Edit transaction modal -->
    <div class="modal fade" id="editTransactionModal" aria-labelledby="editModalLabel" aria-hidden="true">
    </div>

    <!-- Filter modal -->
    <div class="modal fade" id="filterTransactionsModal" aria-labelledby="filterTransactionsModalLabel" aria-hidden="true">
    </div>

    <div class="transactionsGrid card card-block" id="transactionsGrid">
        <button class="btn btn-outline" id="btn-change-month" type="button" data-toggle="collapse" data-target="#change-month-list" aria-expanded="false" aria-controls="collapseExample">
            @DateTime.Now.ToString("MMM")
        </button>
        <br>
        @Html.Partial("_FilterTransactionsByMonthModal", "expense")
        
        <div class="table-responsive">
            @await Html.PartialAsync("_Grid.cshtml", Model)
        </div>
    </div>
</div>

<script>
    function edit(type, id) {
        $.ajax({
            type: 'GET',
            url: '/' + type + 's/Edit',
            data: { id: id },
            success: function (result) {
                $("#editTransactionModal").html(result);
                $("#editTransactionModal").modal();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    function exclude(id) {
        $.ajax({
            type: 'DELETE',
            url: '/Transactions/Delete/',
            data: { id: id },
            success: function (result) {
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    function filter() {
        $.ajax({
            type: 'GET',
            url: '/Transactions/Filter',
            success: function (result) {
                $("#filterTransactionsModal").html(result);
                $("#filterTransactionsModal").modal();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>

